:root{
  --font-primary: 'Ubuntu', cursive;
--font-secondary: 'Lato', sans-serif;
--theme:#304ffe;
--shadow:0px 5px 20px 0 rgba(0,0,0,.5);
--inset: 
inset 0px 0px 10px 0px rgb(0, 0, 0, 1)
;

}

@import url('https://fonts.googleapis.com/css?family=Lato|Ubuntu&display=swap');


::-webkit-scrollbar {
  display: none;
  }


  body{
    overscroll-behavior: contain;
    margin:0;
    font-family: var(--font-primary); 
    background: #d50000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select:none;
  }

  .transition{
    transition:.5s;
  }


  .main{
    opacity: 0;
    &.loaded{
      opacity:1
    }
  }


#pokemons{
    min-width: 70px;
    margin: 0;
    display: inline-block;
    position: absolute;
    height: 100%;
    overflow: scroll;
    box-shadow: var(--inset);
    border-radius: 0 40px 40px 0;
  .pokemon{
    cursor: pointer;
    width:50px;height:50px;
margin:10px;
    opacity:0;
    background-size: cover;
    background-position: center;
    transform: scale(.8);
    &.io{
      opacity: 1;
      transform: scale(1);
    }
    &.selected{
      filter:brightness(0);
    }
  }

  .empty{
    text-align: center;
    font-size: 40px;
    margin:20px;
    color:white;
  }

}

 

#poke-card{  border-radius: 20px;
  border:7px solid white;
  box-sizing: border-box;
  width:calc(100% - 110px);
  height: calc(100% - 190px);
  background:rgb(240,240,240);
  box-shadow: var(--shadow);
  position: absolute;top:0px;right:0px;margin:20px;
  .selected-poke{
    height: 180px;
    position: absolute;
    image-rendering: pixelated;
    right: 20px;
    top: 40px;
  }
.poke-name{
  position: absolute;top:0;left: 0;
  margin:10px 15px;
  font-size: 30px;
  font-weight: bold;
  color:white;
}

.poke-size{
  position: absolute;
  bottom:10px;
  right:10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .poke-trainer{
    margin-left: 10px;
  }
  .poke-thumb,.poke-trainer{
filter:brightness(0) invert(1);
  }
}

.habitat{
  height:40px;width:40px;
  position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    border-radius: 50%;
    background: white;
    background: center ;
}



}





.loading-pokeball{
  position: absolute;top:0;left:0;bottom:0;right:0;margin: auto;
  width: 100px;
  animation: rotate 1s ease-in-out infinite;
@keyframes rotate{
  to{
    transform:rotate(360deg)
  }
}
}



@media screen and (min-width: 1000px) {

  #bottom-bar{
    left: 390px;
    position: absolute;
    max-width: calc(100% - 400px);
    top: 10px;

.poke-types,.habitats{
  white-space: normal;
  padding: 10px;
    box-sizing: border-box;
}
  }

  #poke-card{
    left: 80px;
    max-height: 500px;
    max-width: 280px;
    top:10px;
  }

}